<p>
  <b>Body:</b>
  <%= body %>
</p>

<p>
  <b>Created at:</b>
  <%= moment(created_at).calendar() %>
</p>

<p>
  <b>Updated at:</b>
  <%= updated_at %>
</p>

<p>
  <b>Cached votes total:</b>
  <%= cached_votes_total %>
</p>

<p>
  <b>Cached votes score:</b>
  <%= cached_votes_score %>
</p>

<p>
  <b>Cached votes up:</b>
  <%= cached_votes_up %>
</p>

<p>
  <b>Cached votes down:</b>
  <%= cached_votes_down %>
</p>

<p>
  <b>User name:</b>
  <%= user_name %>
</p>

<p>
  <b>Closed:</b>
  <%= closed %>
</p>

<p>
  <b>Closed at:</b>
  <%= closed_at %>
</p>


<a href="#/index">Back</a>